@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   /* font-family: 'Allison', cursive;*/
}
:root{
    --dark-blue:#0A1D3C;
    --light-gray: #E5E5E5;
    --white:#FFF;
    --light-peach : #F9E3BC;
    --dark-gray : #3E3F43;
    --light-black: #1D1D1D;
}
.section{
    min-height: 100vh;
    width: 100%;
}
nav{
    width: 80%;
    height: 13vh;
    /*background: yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.navlinks{
    display:flex;

}
.navlinks li{
    list-style: none;
}
.navlinks li a {
    text-decoration: none;
    margin-left: 2.5rem;
    color: var(--dark-gray);
    font-size: 1rem;
    letter-spacing: .0.3rem;
    position: relative;
}
.navlinks li a::after, .active li .active::after{
    content: " ";
    background: var(--dark-gray);
    position: absolute;
    height: .15rem;
    width: 100%;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transfrom .5s ease;
    transform-origin: right;
}
.navlinks li a:hover::after, .navlinks li .active::after{
    transform: scaleX(1);
    transform-origin: left;
}
header{
    width: 80%;
    height:  calc(100vh - 13vh);
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
.header-image{
    width: 40rem;
}
.logo{
    font-size: 3.3rem;
    color: var(--dark-blue);
    font-family: 'Allison', cursive;
}
.header-heading{
    font-size: 4rem;
    position: relative;
}
.header-heading::before{
    content: "New ";
    position: absolute;
    top: -60px;
    color: var(--dark-blue);
    font-family: 'Allison',cursive;

}
.product-name{
    font-size: 1.7rem;
}
.header-pricing{
    font-size: 1.5rem;
    margin: 1rem 0px;
}

.primary-btn, .secondary-btn{
    font-size: 1.1rem;
    border: none;
    padding: 1rem 1.7rem;
    transition: transfrom .5s ease-in-out;

}
.btn-container{
    display: flex;
    margin-top: 2rem;
}
.primary-btn{
    background: var(--light-gray);
}
.secondary-btn{
    background: var(--dark-blue);
    color:var(--white);
    transform: scale(1.1);
}
.primary-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.secondary-btn:hover{
    transform: scale(1);    
}

.line{
    background: var(--dark-gray);
    width: 2.5rem;
    height: .2rem;
    margin: .38rem;
}
.hamburger{
    cursor: pointer;
    display: none;
}


/*--Media Quary Section Start--*/
@media screen and (max-width: 500px) {
    .header-image{
        display: none;
    }
    .navlinks{
        /*display: none;*/
        flex-direction: column;
        position: absolute;
        top: 0;
        background: var(--light-gray);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        right: 100%;
        z-index: 2;
        gap: 2rem;
        transition:  5s ease-in-out;
    }
    .navlinks-active{
        right: 0;
    }
    .navlinks li a{
        font-size: 1.3rem;
        margin-left: 0;
    
    }
    .hamburger{
        display: block;
        z-index: 5;
    }
    .section .logo{
        z-index: 5;
    }
    .header-heading{
        font-size: 3rem;
    }
    
    header{
        
        justify-content:flex-start;
    }
    
}
/* Media Query Section End */
